.wn-icon { background-image: url(/src/assets/user/sprites/info.png);background-size: 1.24rem;display: inline-block;vertical-align: middle;}
.wn-icon-card {width: 0.36rem; height: 0.43rem; background-position: -0.88rem 0rem;}
.wn-icon-house {width: 0.41rem; height: 0.43rem; background-position: -0.45rem 0rem;}
.wn-icon-id {width: 0.43rem; height: 0.43rem; background-position: 0rem 0rem;}